<!--TODO: Add ability to choose department when registering an employee.-->
<!--TODO: Saving of employee in employees table and of department in departments table should be-->
<!--TODO: one  transaction (i.e., atomic)-->
<!-- TODO: 1. Allow users to choose a department from a list of employees -->

<div ng-controller="RegCtrl as ctrl">
    <div class="page-header">
        <h1>Employee Management System
            <small>Registration</small>
        </h1>
    </div>
    <br/>

    <form name="regForm" ng-submit="ctrl.register()" autocomplete="off" novalidate>
        <div class="form-group"  ng-class="{ 'has-error': regForm.empNo.$touched && regForm.empNo.$invalid }">

            <label for="empNo">Employee No:</label>

            <input type="number" id="empNo" name="empNo"
                   class="form-control"
                   ng-model="ctrl.employee.empNo"
                   required>

            <div class="help-block" ng-messages="regForm.empNo.$error" ng-if="regForm.empNo.$touched">

                <p ng-message="required">Employee Number Required</p>
            </div>
        </div>


        <div class="form-group" ng-class="{ 'has-error': regForm.firstname.$touched && regForm.firstname.$invalid }">

            <label for="firstname">First name:</label>

            <input type="text" id="firstname" name="firstname"
                   class="form-control"
                   ng-model="ctrl.employee.firstname"
                   ng-minlength="2"
                   required>

            <div class="help-block" ng-messages="regForm.firstname.$error" ng-if="regForm.firstname.$touched">
                <p ng-message="minlength">First Name Too Short</p>
                <p ng-message="required">First Name Required</p>
            </div>
        </div>

         <div class="form-group"  ng-class="{ 'has-error': regForm.lastname.$touched && regForm.lastname.$invalid }">

            <label for="lastname">Last name:</label>

             <input type="text" id="lastname" name="lastname"
                   class="form-control"
                   ng-model="ctrl.employee.lastname"
                   ng-minlength=2
                   required>
            <div class="help-block" ng-messages="regForm.lastname.$error" ng-if="regForm.lastname.$touched">
                <p ng-message="minlength">Last Name Too Short</p>
                <p ng-message="required">Last Name Required</p>
            </div>

        </div>

        <div class="form-group"  ng-class="{ 'has-error': regForm.gender.$touched && regForm.gender.$invalid }">

            <label>Gender:</label>

            <div class="radio">
                 <label for="male" class="radio-inline">
                    <input type="radio" name="gender" id="male"
                           value="M"
                           ng-checked="true"
                           ng-model="ctrl.employee.gender"
                    >Male
                </label>

                <label for="female" class="radio-inline">
                    <input type="radio" name="gender" id="female"
                           value="F"
                           ng-model="ctrl.employee.gender"
                    >Female
                </label>

            </div>

        </div>
       <div class="form-group"  ng-class="{ 'has-error': regForm.birthday.$touched && regForm.birthday.$invalid }">

            <label for="birthday">Birthday:</label>

            <input type="date" id="birthday" name="birthday"
                   class="form-control"
                   ng-model="ctrl.employee.birthday"
                   required>
            <div class="help-block" ng-messages="regForm.birthday.$error" ng-if="regForm.birthday.$touched">
                <p ng-message="required">Birthday Required</p>
            </div>
        </div>

        <div class="form-group"  ng-class="{ 'has-error': regForm.hiredate.$touched && regForm.hiredate.$invalid }">
            <label for="hiredate">Hire date:</label>
             <input type="date" id="hiredate" name="hiredate"
                   class="form-control"
                   ng-model="ctrl.employee.hiredate"
                   required>
            <div class="help-block" ng-messages="regForm.hiredate.$error" ng-if="regForm.hiredate.$touched">
                <p ng-message="required">Hire Date Required</p>
            </div>
        </div>



        <div class="form-group"  ng-class="{ 'has-error': regForm.phonenumber.$touched && regForm.phonenumber.$invalid }">
            <label for="phonenumber">Phone Number:</label>
            <input type="number" id="phonenumber" name="phonenumber"
                   class="form-control"
                   ng-model="ctrl.employee.phonenumber"
                   ng-pattern = '/^[0-9]{8,11}$/'
                   required/>

            <div class="help-block" ng-messages="regForm.phonenumber.$error" ng-if="regForm.phonenumber.$touched">
                <p ng-message="pattern">Invalid Number</p>
                <p ng-message="required">Phone Number Required</p>
            </div>
        </div>

        <!--TODO: 1.1 Add dropdown box. Display department name.-->

        <div class="form-group">
           <button type="submit" class="btn-success form-control" ng-disabled="regForm.$invalid">
                Register
            </button>
        </div>

    </form>
    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
         ng-class="{'alert-success': ctrl.status.code == 0, 'alert-danger': ctrl.status.code != 0 }">

        <button class="close" data-dismiss="alert">
            &times;
        </button>

        <p>Error No: {{ ctrl.status.code + " " + ctrl.status.message }}</p>

    </div>
</div>